body{
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
#header{
    text-align: center;
}

#nav{
    width: 20%;
    float: left;
}

#nav ul{
    list-style-type: none;
    padding-left: 10px;
}

#nav .selected{
    font-weight: bold;
}

#information{
    width: 80%;
    float: right;
}
#information .central{
    float: center;
}

#container{
    width: 100%;
}